<div class="container mt-5 mb-5" >

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, aliquam nesciunt inventore cumque repudiandae nihil assumenda minus nam pariatur a, eaque et consectetur voluptates nulla ratione explicabo voluptatem labore suscipit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugiat delectus dignissimos eveniet porro rem cupiditate laborum eaque suscipit natus soluta doloremque accusantium dolorum ea dolores, quidem deleniti minus velit.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui maxime enim, illo vero dolores fuga officiis incidunt, voluptas sequi facere sit adipisci ex sapiente architecto quae accusamus expedita facilis sed.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aspernatur recusandae aut magni officia similique, esse error iure assumenda, suscipit vel debitis, est iusto impedit fugiat illum quia ducimus qui.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rerum enim architecto dolorem laudantium eius, nulla sint reprehenderit quae inventore ipsum amet porro explicabo repellat, aliquid officiis? Quae, officiis. Debitis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nesciunt nobis placeat quos quas voluptatem molestiae ea recusandae at exercitationem, eveniet soluta quo molestias dolore totam earum ullam odit possimus.
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente debitis non, nam, quis magni voluptates fuga velit laborum, quod impedit neque. Dolorum totam corporis aspernatur a eum omnis ipsum! Iste.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ipsum in maxime aspernatur, deleniti ducimus officiis asperiores eligendi facilis praesentium dolorem nam atque dolorum, voluptate enim molestias amet deserunt unde?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque enim, saepe dolorum eaque numquam nulla quibusdam officia! Quo commodi enim porro a omnis minima explicabo dolore eligendi? Exercitationem, totam.
        <br>
    </p>

</div>
