.foodBox
{
    padding:0.1rem;
     max-width: 25rem;
    min-width: 15rem;
}
.foodBox img
{
    width:100%;     
    height: 15rem;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(5px 5px 5px black);

}
.foodBox img:hover
{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.foodBox h1
{
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    color:black;
}
.foodBox p{
    
    color:black;
    margin: 1%;
}
.priceBorder p{
    border: solid white 1px;
    color:black;
    background: rgb(218,210,153);
    background: radial-gradient(circle, rgba(218,210,153,1) 1%, rgba(176,218,185,1) 83%);
    border-radius: 10px;
    padding:1rem;
    padding-left: 1rem;
    margin-top: 4re
}
.text-success{
    font-size: 18px;
    color:black;
}
#description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2.5rem;
}
  
.remove-color{
    background-color: initial;
}

.buybtn{
    
    color:#ffffff;
    background: rgb(96,56,19);
    background: linear-gradient(0deg, rgba(96,56,19,1) 1%, rgba(178,159,148,1) 83%);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.buybtn a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
} 
.cartbutton{
    color:#ffffff;
    background: rgb(96,56,19);
    background: linear-gradient(0deg, rgba(96,56,19,1) 1%, rgba(178,159,148,1) 83%);
    padding: 10px 10px;
    margin-left:5%;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.cartbutton a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
 .button{
    margin-top:3rem;
}

.addbutton{
    position: fixed;
    bottom:1rem;
    margin:1rem;
    padding:1rem;
    width: 50rem;

} 


