<div class="mainNavbar">
  <nav class="navbar navbar-color shadow navbar-light px-3 py-2 row">
    <!--logo-->
    <div class="logo p-0 ms-2 col-4">
      <img src="../../assets/authenticlogo/logo2.png" alt="Logo not found!">
    </div>

    <!-- Menu -->
    <div class="col-5 ">
      <div class="d-flex justify-content-center hand-logo pt-4">
        <img src="../../assets/navbarnamsteimage/navbarimage.png" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <span>
          <a class="nav-link" routerLink="customer/" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
        </span>
        <span>
          <a class="nav-link" routerLink="customer/menu" [routerLinkActive]="'active'">Menu</a>
        </span>
        <span>
          <a class="nav-link" routerLink="customer/about" [routerLinkActive]="'active'">About</a>
        </span>
        <span>
          <a class="nav-link" routerLink="customer/contact" [routerLinkActive]="'active'">Contact</a>
        </span>
      </div>
    </div>



    <!-- User Account Dropdown -->
    <div class="col-3">
      <!-- Mobile Contact Info (If needed) -->
      <div class="d-flex mb-0">
        <p class="text-white">Contact Us :-</p>
        <a href="tel:9730023006" class="mx-1">9730023006 </a>
        <span class="text-white">&</span>
        <a href="tel:9273823423" class="ms-1">9273823423</a>
      </div>
      <div class="d-flex justify-content-center">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <a class="login-icon" ngbDropdownToggle><i class="bi bi-person-lock" style="font-size: 2rem;"></i> {{user?.name}}</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button routerLink="customer/cart" ngbDropdownItem>
              <i class="bi bi-cart4" style="font-size: 1.5rem;"></i>
              <span
                class="badge bg-danger position-absolute top-10 start-50 ms-2 p-1 translate-middle-x">{{totalItem}}</span>
              Cart
            </button>
            <span *ngIf="!isLoggedIN()">
              <button routerLink="customer/auth/login" ngbDropdownItem>Login</button>
              <button routerLink="customer/auth/signup" ngbDropdownItem>Signup</button>
            </span>
            <span *ngIf="isLoggedIN()">
              <button (click)="logout()" ngbDropdownItem>Logout</button>
            </span>
          </div>
        </div>
      </div>
    </div>   
  </nav>
</div>