<div class="mainNavbar">
  <nav class="navbar navbar-color shadow navbar-expand-lg navbar-light px-3 py-0 ">
    <!--Bucket-->
    <div class="navbar-cart d-flex">
      <div class="d-flex counter-object ">
        <a routerLink="customer/cart"><i class="bi bi-cart4"
          style="font-size: 2rem;"></i></a>
        <span>
            <p class="badge bg-danger">{{totalItem}}</p>
        </span>
      </div>
    </div>
    <div class=" ms-3">
      <a class="login-icon" routerLink="customer/auth/login"><i class="bi bi-person-lock"
          style="font-size: 2rem;"></i></a>
    </div>


    <!--Bucket End-->

    <!--logo-->
    <div class="logo mt-2 ms-4 me-5">
      <img src="../../assets/authenticlogo/logo2.png" alt="Logo not found!">
    </div>
    <!--logo-->


    <img class="hand-logo" src="../../assets/navbarnamsteimage/navbarimage.png" alt="">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Temporary Admin Login Button-->
    <div>
      <button class="btn btn-dark" routerLink="admin/login">Admin Login</button>
    </div>
    <!--Temporary Admin Login Button-->

    <div class="mobile d-flex">
      <p>Contact Us :-</p>
      <a href="tel:9730023006" style="margin-left: 18rem;">9730023006 </a>
      <a style="margin-left: 24rem;">&</a>
      <a href="tel:9273823423" style="margin-left: 25rem;">9273823423</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="z-index: 10;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="customer/" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer/menu" routerLinkActive="active-link">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer/about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer/contact" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>