.mainNavbar {
    position: relative;
    top: 0;
    z-index: 15;

}

.navbar-light .navbar-nav .nav-link .active-link {
    color: var(--secondary-colo);
    font-weight: bold;
}

.login-icon {
    color: #ffff;
<<<<<<< Updated upstream
=======
    margin-bottom:-3rem;
    margin-right:14rem;
    text-decoration: none;
    font-weight: bold;
}
.login-icon:hover{
    color: gray;
>>>>>>> Stashed changes
}

a {
    color: #ffff;
    font-weight: bold;
}

a:hover {
    color: green;
}

.nav-link {
    color: #ffff;
    margin-left: 1.5vw;
}

.navbar-color {
    background-color: #DD9934
}

.hand-logo {
    margin-top: -1.3rem;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px 20px;
}

.logo {
    width: 15vw;
    height: 6vw;
}

.mobile p {
    margin-left: 21.5rem;
    margin-top: -1.6rem;
    position: absolute;
    color: #ffff;
    font-weight: 100;

}

.mobile a {
    margin-top: -1.6rem;

    width: auto;
    position: absolute;
    text-decoration: none;
    font-weight: 100;
    color: white;
}

.mobile a:hover {
    color: rgba(39, 39, 189, 0.582);
}

.navbar-cart-icon {
    margin-top: 2rem;
}
<<<<<<< Updated upstream

.counter p {
    font-size: 0.6rem;
    margin-bottom: -2rem;
=======
.counter{
    font-size:0.5rem;
    margin-bottom:1rem;
>>>>>>> Stashed changes
}

.active {
    font-size: 18px;
    font-weight: bold;
}
.userName{
    margin-top:3rem;
    margin-right:6rem;
}

.count {
    background-color: red;
}