.savebutton button{
    margin-left:38rem;
    width:10rem;

}
.backbutton button{
    margin-left:26rem;
    margin-top: -5.5rem;
    width:10rem;
}
.formsize{
    margin-left:10rem;
    margin-top:-10rem;
}
.formsize img{
    width:50rem;
    margin:1rem;
    margin-left:-7rem;
}
.formdiv{
    margin-left: 25rem;
}
.fileElement p{
  margin-left:9em;
  margin-top: -1rem;
  cursor:pointer;
}
.fileElementIcon{
    margin-left:10.5rem;
    margin-top:8rem;
    font-size:3rem;
    cursor:pointer;
}