<div class="background" *ngIf="products.length != 0">
  <div class="container">
    <div class="cardFront">
      <div class="cart-product mt-4">
        <div *ngFor="let item of products; let i = index">
          <div class="d-flex mt-1 itemDetails">
            <img
              class="d-flex"
              style="width: 10rem"
              src="{{ item.foodImg }}"
              alt=""
            />

            <div class="elements">
              <h3>{{ item.foodName }}</h3>
              <h6>{{ item.foodDetails }}</h6>
              <h6>Rate: {{ item.foodPrice }} / {{ item.unit }}</h6>

              <h6>Quantity: {{ item.quantity }}</h6>
              <h6>Total Price: {{ item.price }}</h6>
              <button (click)="removeItem(item)" class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="grandtotal">
          <strong
            >Grand Total
            {{ grandTotal | currency : "INR" : "symbol" : "3.0" }}
          </strong>
        </div>
        <div class="buttons">
          <button (click)="emptycart()" class="btn btn-danger">
            Empty Cart
          </button>
          <button routerLink="../menu" class="btn btn-primary ms-2">
            Order More
          </button>
          <button class="btn btn-success ms-2">
            Place Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="cart">
    
   
    <div class="center">
      <img
        src="../../assets/cartimage/emptycard.jpeg"
        alt="Empty card image is not found"
      />
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button routerLink="../menu" class="btn btn-primary">Order Now</button>
    </div>
  </div>
</div>
</ng-container>

