<section class="pagebackground">
  <div>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">

              <div class="col-md-8 col-lg-5 d-none d-md-block">
                <div class="image">
                  <img src="../../../assets/signupposter/signupimge.png" alt="login form" class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem;" />
                </div>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <!--Lock Icon-->
                  <div class="lockicon">
                    <fa-icon [icon]="faLock" class="fa-2x mt-1"></fa-icon>
                  </div>

                  <!-- Address form -->
                  <div class="slide-left" *ngIf="!userForm">
                    <form [formGroup]="address" (ngSubmit)="onSubmit()">
                      <div class="headingtext">
                        <h3>Register yourself</h3>
                      </div>

                      <div class="textfield">
                        <div class="form-outline mb-2">
                          <input type="text" formControlName="line1"
                            [ngClass]="{'is-invalid':addressSubmitted && address.get('line1')?.errors}"
                            placeholder="Address Line1" class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="text" formControlName="line2"
                            [ngClass]="{'is-invalid':addressSubmitted && address.get('line2')?.errors}"
                            placeholder="Address Line2" class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="number" formControlName="pinCode"
                            [ngClass]="{'is-invalid':addressSubmitted && address.get('pinCode')?.errors}"
                            placeholder="PinCode" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-3">
                          <input type="text" formControlName="city"
                            [ngClass]="{'is-invalid':addressSubmitted && address.get('city')?.errors}"
                            placeholder="City" class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="text" formControlName="state"
                            [ngClass]="{'is-invalid':addressSubmitted && address.get('state')?.errors}"
                            placeholder="State" class="form-control form-control-lg" />
                        </div>
                      </div>


                      <div class="d-flex">

                        <button class="btn btn-dark btn-lg col-6" (click)="backFn()">Back</button>
                        <button class="btn btn-dark btn-lg col-6 ms-1" type="submit">Sign Up</button>

                      </div>

                    </form>

                  </div>

                  <!-- Address form  end-->
                  <!-- User Details form -->
                  <div class="slide-right" *ngIf="userForm">

                    <form [formGroup]="loginForm">
                      <div class="headingtext">
                        <h3>Register yourself</h3>
                      </div>

                      <div class="textfield">
                        <div class="form-outline mb-2">
                          <input type="name" formControlName="name"
                            [ngClass]="{'is-invalid':submitted && loginForm.get('name')?.errors}" placeholder="Name"
                            class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="number" formControlName="mobile"
                            [ngClass]="{'is-invalid':submitted && loginForm.get('mobile')?.errors}" placeholder="Mobile"
                            class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="email" formControlName="email"
                            [ngClass]="{'is-invalid':submitted && loginForm.get('email')?.errors}"
                            placeholder="Email address" class="form-control form-control-lg" />

                        </div>

                        <div class="form-outline mb-3">
                          <input [type]="type" formControlName="password"
                            [ngClass]="{'is-invalid':submitted && loginForm.get('password')?.errors}"
                            placeholder="Password" class="form-control form-control-lg" />
                          <div class="eye">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                          </div>
                        </div>


                        <div class="form-outline mb-2">
                          <input [type]="type" formControlName="confirmPass"
                            [ngClass]="{'is-invalid':submitted && loginForm.get('confirmPass')?.errors}"
                            placeholder="Confirm Password" class="form-control form-control-lg" />
                          <div class="eye">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                          </div>
                        </div>
                      </div>



                      <div class="button">
                        <button class="btn btn-dark btn-lg col-12" (click)="toggleForm()" type="button">Next</button>

                      </div>



                    </form>
                  </div>
                  <!-- User Details form -->

                  <div class="bottmotext">
                    <p>Have already an account? <a routerLink="../login">Login here</a></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>