<ng-template>
    <div class="modal-header m-header">
      <h4>Place Order Here..</h4>
  
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body m-body">
      <form [formGroup]="placeform" (ngSubmit)="onSubmit()">
        <div class="form-group col-7 mt-2">
          <input
            formControlName="name"
            [ngClass]="{
              'is-invalid': submitted && placeform.get('name')?.errors
            }"
            type="text"
            class="form-control"
            placeholder="Enter Name"
          />
          <div
            *ngIf="
              submitted ||
              (placeform.get('name')?.invalid &&
                (placeform.get('name')?.dirty || placeform.get('name')?.touched))
            "
          >
            <div
              class="error-message"
              *ngIf="placeform.get('name')?.hasError('required')"
            >
              <span> Name is required</span>
            </div>
          </div>
        </div>
        <div class="form-group col-7 mt-2">
          <input
            formControlName="mobile"
            [ngClass]="{
              'is-invalid': submitted && placeform.get('mobile')?.errors
            }"
            type="number"
            class="form-control"
            placeholder="Enter Mobile"
          />
          <div
            *ngIf="
              submitted ||
              (placeform.get('mobile')?.invalid &&
                (placeform.get('mobile')?.dirty ||
                  placeform.get('mobile')?.touched))
            "
          >
            <div
              class="error-message"
              *ngIf="placeform.get('mobile')?.hasError('required')"
            >
              <span> Mobile number is required</span>
            </div>
            <div
              class="error-message"
              *ngIf="placeform.get('mobile')?.hasError('pattern')"
            >
              <span>Mobile number must be in 10 digits</span>
            </div>
          </div>
        </div>
  
        <div class="form-group col-7 mt-2">
          <input
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && placeform.get('email')?.errors
            }"
            type="email"
            class="form-control"
            placeholder="Enter Email"
          />
          <div
            *ngIf="
              submitted ||
              (placeform.get('email')?.invalid &&
                (placeform.get('email')?.dirty ||
                  placeform.get('email')?.touched))
            "
          >
            <div
              class="error-message"
              *ngIf="placeform.get('email')?.hasError('required')"
            >
              <span> Email is required</span>
            </div>
            <div
              class="error-message"
              *ngIf="placeform.get('email')?.hasError('email')"
            >
              <span> Enter valid email</span>
            </div>
          </div>
        </div>
  
        <div formGroupName="address">
          <div class="form-group col-7 mt-2">
            <input
              formControlName="line1"
              [ngClass]="{
                'is-invalid': submitted && address?.get('line1')?.errors
              }"
              type="text"
              class="form-control"
              placeholder="Address Line 1"
            />
            <div
              *ngIf="
                submitted ||
                (address?.get('line1')?.invalid &&
                  (address?.get('line1')?.dirty ||
                    address?.get('line1')?.touched))
              "
            >
              <div
                class="error-message"
                *ngIf="address?.get('line1')?.hasError('required')"
              >
                <span> line 1 is required</span>
              </div>
            </div>
            <div>
              <div class="form-group col-12 mt-2">
                <input
                  formControlName="line2"
                  type="text"
                  class="form-control"
                  placeholder="Address Line 2"
                />
              </div>
            </div>
            <div class="form-group col-12 mt-2">
              <input
                formControlName="zip"
                [ngClass]="{
                  'is-invalid': submitted && address?.get('zip')?.errors
                }"
                type="text"
                class="form-control"
                placeholder="Zip Code"
              />
              <div
                *ngIf="
                  submitted ||
                  (address?.get('zip')?.invalid &&
                    (address?.get('zip')?.dirty || address?.get('zip')?.touched))
                "
              >
                <div
                  class="error-message"
                  *ngIf="address?.get('zip')?.hasError('required')"
                >
                  <span> Zip code is required</span>
                </div>
              </div>
            </div>
            <div class="form-group col-12 mt-2">
              <input
                formControlName="city"
                [ngClass]="{
                  'is-invalid': submitted && address?.get('city')?.errors
                }"
                type="text"
                class="form-control"
                placeholder="City"
              />
              <div
                *ngIf="
                  submitted ||
                  (address?.get('city')?.invalid &&
                    (address?.get('city')?.dirty ||
                      address?.get('city')?.touched))
                "
              >
                <div
                  class="error-message"
                  *ngIf="address?.get('city')?.hasError('required')"
                >
                  <span> City is required</span>
                </div>
              </div>
            </div>
            <div class="form-group col-12 mt-2">
              <input
                formControlName="state"
                [ngClass]="{
                  'is-invalid': submitted && address?.get('state')?.errors
                }"
                type="text"
                class="form-control"
                placeholder="State"
              />
              <div
                *ngIf="
                  submitted ||
                  (address?.get('state')?.invalid &&
                    (address?.get('state')?.dirty ||
                      address?.get('state')?.touched))
                "
              >
                <div
                  class="error-message"
                  *ngIf="address?.get('state')?.hasError('required')"
                >
                  <span>State is required</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="text-center">
          <button
            type="submit"
            (click)="placeclick()"
            class="btn btn-success mt-2"
          >
            Place
          </button>
        </div>
      </form>
    </div>
    <div class="modal-footer m-footer">
      <div class="closebutton">
        <button
          type="button"
          class="btn btn-danger"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </div>
  </ng-template>
  
